.x-slider__item {
    background: #fff;
    width: 375px;
    min-height: 667px;
    max-height: 667px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform: scale(0.8);
}

.slider__load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__head {
    padding: 8px 12px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &-progress {
        margin-bottom: 12px;
    }
}

.slider__content {
    overflow-y: auto;
    padding: 0 18px;
    max-height: 499px;
    height: 100vh;
}

.slider__button {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px 52px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #000000;
    width: 36px;
    min-height: 36px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover{
        color: #31AE54;
    }
}

.btn-next {
    transform: rotate(-180deg);
    right: -50px;
}

.btn-prev {
    left: -50px;
}

.icon svg{
    width: 18px;
    height: 18px;
}

.active {
    transform: scale(1);
    transition: .4s;
}