.c-button {
    background: #31AE54;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;

    &::before {
        color: green;
        content: attr(data-hover-text);
        font-size: 0;
    }

    &:hover {
        background: #9E9E9E;
        .btn__inner {
            font-size: 0;
        }

        &::before {
            font-size: inherit;
            color: #fff;
        }
    }
}

.btn__inner {
    display: flex;
    align-items:center;
    justify-content: center;
}

.green {
    background: #31AE54;
    &:hover {
        background: #31AE54;
        .btn__inner {
            font-size: 16px;
        }
    }
    &::before {
        content: none;
    }
    
}

.grey {
    background: #9E9E9E;
    &:hover {
        background: #9E9E9E;
        .btn__inner {
            font-size: 16px;
        }
    }
    &::before {
        content: none;
    }
}