@import '../../styles.scss';

.header {
    background: #FAFAFA;
    box-shadow: 0px 0.33px 0px rgba(60, 60, 67, 0.29);
    padding: 47px 0 37px;
}

.header__users {
    margin-top: 43px;
    & ul {
        display: flex;
    }
}


.header__users-list {
    display: flex;
}

@include phones {
    .header__users {
        margin-top: 29px;
    }

    .header {
        padding: 32px 0 14px;
    }
}