$background-black: #292929;
$background-gray: #404040;
$background-gray2: #6F6F6F;
$background-gray3: #9E9E9E;
$background-white: #FFFFFF;
$background-green: #31AE54;
$background-add: #262626;

body, html {
    height: 100%;
}

.header__users {
  margin-top: 43px;
  &-list {
      display: flex;
  }
  &-item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color: $background-add;
    font-size: 14px;
    line-height: 1.8;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  p {
    margin: 0 0;
  }

  svg {
    display: block;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }

  *, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
  }

  .wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
  }

  .x-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  @media(max-width: 990px) {
    .x-container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  @media(max-width: 768px) {
    .x-container {
      max-width: 708px;
      padding: 0 10px;
    }
  }