@import '../../styles.scss';

.post__comments-nick {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-right: 8px;
}

.post__comments-item {
    margin-bottom: 10px;
}

.post__comments-item {
    & p {
        font-size: 14px;
        line-height: 22px;
    }
}


.post__comments-item:last-child {
    margin-bottom: 10px;
}

@include phones {
    .post__comments-nick {
        font-size: 12px;
        line-height: 14px;
    }

    .post__comments-item {
        margin-bottom: 5px;
    }


    .post__comments-item {
        & p {
            font-size: 10px;
            line-height: 14px;
        }
    }
}