.profile {
    display: flex;
    &__left {
        border-right: 1px solid #D3D3D3;
        padding: 40px 109px 0 0;
        flex: 1;
    }
    &__right {
        flex: 2;
        padding: 40px 0 0 76px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.profile__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 30px;
}

.profile__info {
    display: flex;
    margin-top: 6px;
    &-left {
        margin-right: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        & .profile__info-count {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.profile__right-link {
    font-size: 12px;
    line-height: 15px;
    color: #31AE54;
    text-decoration-line: underline;
}

.profile__right-wrap {
    display: flex;
    justify-content: space-between;

}

.profile__right-count {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #9E9E9E;
}

.user__git-type {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9E9E9E;
    padding-top: 6px;
}

.user__git-wr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}